<header>
  <br>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="text-align: center;">
  <a class="navbar-brand" href ="#" style="font-size: xx-large;">Vellore Institute of Technology</a>
</nav>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    <p class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      <a class="nav-link" routerLink="/About">About</a>
      <a class="nav-link" routerLink="/ContactUs">ContactUs</a>
      <a class="nav-link" routerLink="/Login">Login</a>
      
  </p>
    </ul>
</div>


</header>
<hr>
<br> <br>
<body>

</body>
 
<div class="container">
  <br/>
  <router-outlet></router-outlet>
</div>