<h1 class="Head">Campus Contact Details</h1>

<div class="container">
<div class="column">    
<div class="row">
    <ul><li><b style="color: blue;">VIT Vellore Campus</b></li>
    <p>Vellore - 632 014, Tamilnadu, India</p>
    <p>Tel: 91-416-2243091 / 93</p>
    <p>Fax: 91-416-2243092</p>
    <p>91-416-2240411</p></ul></div>    
<div class="row"><ul><li><b style="color: rgb(121, 121, 189);">VIT Chennai Campus</b></li>
    <p>Dr.G.Kalaichelvan, Director - UG Admissions</p>
    <p>Telephone: 044-462-77555</p>
    <p>Fax: +91-416-224 5544, 224 0411</p>
    <p>Email: ugadmission@vit.ac.in</p></ul></div>  
     
<div class="row"><ul><li><b style="color: rgb(121, 121, 189);">Admissions Office</b></li>
    <p>Vandalur - Kelambakkam Road, Chennai - 600 127</p>
    <p>Ph : 044 3993 1555</p>
    <p>Ph : 044 3993 1555</p>
    <p>admin.chennai@vit.ac.in</p></ul></div>      
</div>

<div class="column">
<div class="row"><ul><li><b style="color: rgb(121, 121, 189);">Admissions Office</b></li>
    <p>Dr. Sasikumar S, Director - PG Admissions</p>
    <p>Phone: + 91-416-220 2188</p>
    <p>Fax: +91-416-224 5544, 224 9955</p>
    <p>Email: pgadmission@vit.ac.in</p></ul></div>    
<div class="row"><ul><li><b style="color: rgb(121, 121, 189);">Career Development Centre (CDC)</b></li>
    <p>Dr.V.Samuel Rajkumar, Director - CDC</p>
    <p>Tel: 0416 - 2202846</p>
    <p>Fax: 91-416-2243092, 91-416-224 0411</p>
    <p>Email: placement@vit.ac.in</p></ul></div>    
<div class="row"><ul><li><b style="color: rgb(121, 121, 189);">International Relations Office</b></li>
    <p>Dr. C. Vijayakumar, Director - International Relations</p>
    <p>Tel: 91-416-224 3118</p>
    <p>Fax: 91-416-2243092</p>
    <p>Email:  director.ir@vit.ac.in, vijay@vit.ac.in</p></ul></div>
    </div>
</div>